.HomeNavBar{
    background-color: #0053a0;
    height: 4.5rem;
    color: #fff;
    padding-left: 15rem;
    padding-right: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.NarImage{
     width: 4rem;
     height: 4rem; 
     border-radius: 50%;  
}