.app{
  margin: 0;
  padding: 0;
  .layout-app{
    background-color: #EFF1F4FF;
    height: 100%;
    position: relative;
    .header{
      background-color: #ffffff;
    }
    .layout-content{
      height: 100%;
    }
  }
}
